@charset "UTF-8";
/* 초기화 */
@font-face{font-family:"noto";font-style:normal;src:url("../fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Light.otf") format("woff");}
@font-face{font-family:"gothic";font-style:normal;src:url("../fonts/nanumgothic/NanumGothic-Bold.woff") format("woff");}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "noto";
    color: #000;
}

a{text-decoration: none; color: #000 !important;}
a:hover{text-decoration: none; color: inherit !important;}
ul,li{list-style: none;}
button,input{outline: none !important;}
button{transition: 0.3s;cursor: pointer;}
button:hover{opacity: 0.5;}
.button{border: 3px solid #32547B; background-color: rgba(0, 0, 0, 0); color: #32547B;padding: 5px 20px;}
.full_btn{background-color: #32547B; color: #fff;}
.btn.red{border-color: #ff3e3e;color: #ff3e3e;}
.main_480{display: none;}
.font-change{font-family: "gothic" !important;}
i{pointer-events: none !important;}
.a_img{background-repeat: no-repeat;display: inline-block;}
#wrap{
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* 헤더 */

header{
    width: 100%;
    height: 100px;
    padding: 0 1em;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 180px;
    height: 35px;
    background-image: url("../image/logo.png");
    background-repeat: no-repeat;
    background-size: 180px;
    display: inline-block;
}

header > nav{
    width: 60%;
    height: 100%;
    position: relative;    
}

nav > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

nav li > a{transition: .3s;}
nav li:hover > a{ color: #ffb307 !important;}
nav a{
    font-weight: bold;
    font-size: 1.15em;
    display: block;
}

.dep_1{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.dep_1 > a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    position: relative;
}

.dep_1 > a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 5px;
    background-color: #32547B;
    width: 0%;
    transition: 0.3s;
}

.dep_1:hover > a::after{width: 100%;left: 0;}
.dep_1:hover .dep_2{height: 180px;border-bottom: 1px solid #ddd;}
.dep_2{
    position: fixed;
    padding: 0 20%;
    width: 100%;
    height: 0px;
    background-color: #f5f5f5;
    transition: 0.3s;
    top: 100px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-start;
}

.dep_2 > li{
    width: calc(100%/ 4);
    padding: 1em;
    margin: 1em 0;
}

.dep_2 > li > a{margin-bottom: 0.3em;font-size: 1.05em;}
.dep_2 > li:last-child{border: none;}
.dep_3 {padding-left: 1em;}
.dep_3 a{font-weight: normal;font-size: 0.9em;margin: 0.2em 0;}

/* 유틸리티 */
#util_wrap{
    height: 100%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#util_user{width: 100%;display: flex;}
#util_user > a{
    padding:0 1em;
    font-size: 0.95em;
    transition: .3s;
    border-right: 1px solid #ddd;
}

#util_user > a:last-child{border: none;}
#util_user > a:hover{opacity: 0.5;}
#util_lang{
    padding: 0.2em;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

#main_open_label {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
#main_open_label:hover{opacity: 0.6;}
#main_open_label > i{pointer-events: none;font-size: 2em;}

/* 모바일 */
@media screen and (max-width:1200px){
    #main_open_label{display: flex;}
    .main_480{display: block;}
    #main_open:checked ~ header nav{right: 0;}
    nav{
        width: 400px !important;
        position: fixed !important;
        height: calc(100% - 100px) !important;
        bottom: 0;
        right: -400px;
        background-color: #f5f5f5;
        padding: 1em;
        transition: 0.3s;
    }

    nav > ul{display: block;}
    .dep_1 {
        width: 100%;
        height: auto;
    }

    .dep_1 > a{
        width: 100%;
        text-align: left;
        display: block;
        line-height: 50px;
    }

    .dep_1 > a::after{left: 0;}

    .dep_2{
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        flex-direction: column;
        width: 100%;
        top: auto;
        left: 0;
        padding: 0;
        display: block;
    }

    .dep_1:hover .dep_2{height:380px;border-bottom:none;}
    .dep_2 > li{
        padding: 0.5em 1em;
        border: none;
        height: auto;
        margin: 0;
        width: 100%;
    }
    
    #main_open:checked ~ header #util_wrap{right: 0;}
    #util_wrap{
        transition: 0.3s;
        position: fixed;
        width: 400px !important;
        height: 50px;
        background-color: #ddd;
        padding: 1em;
        bottom: 0;
        right: -400px;
        flex-direction: row;
        align-items: center;
    }
}

/* 슬라이드 */
@keyframes img{
    0%{opacity: 0;}
    22.22222222222222%{opacity: 0;top:-20px;}
    33.33333333333333%{opacity: 1;top:0px;}
    55.55555555555555%{opacity: 1;top:0px;}
    66.66666666666666%{opacity: 0;top:20px;}
    100%{opacity: 0;}
}

@keyframes text{
    0%{opacity: 0;}
    22.22222222222222%{opacity: 0;}
    33.33333333333333%{opacity: 1;}
    55.55555555555555%{opacity: 1;}
    66.66666666666666%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes slide_btn{
    0%{width: 0%;height:0%;left: 50%;top: 50%;border-color: #fff;}
    22.22222222222222%{width: 0%;height:0%;left: 50%;top: 50%;border-color: #fff;}
    33.33333333333333%{width: 300%;height:300%;left:-100%;top:-100%;border-color: #ffb307;}
    55.55555555555555%{width: 300%;height:300%;left:-100%;top:-100%;border-color: #ffb307;}
    66.66666666666666%{width: 0%;height:0%;left: 50%;top: 50%;border-color: #fff;}
    100%{width: 0%;height:0%;left: 50%;top: 50%;border-color: #fff;}
}

@keyframes slide_btn_box{
    0%{background-color: #D7DEFF;}
    22.22222222222222%{background-color: #D7DEFF;}
    33.33333333333333%{background-color: #ffb307;}
    55.55555555555555%{background-color: #ffb307;}
    66.66666666666666%{background-color: #D7DEFF;}
    100%{background-color: #D7DEFF;}
}

@keyframes Title{
    0%{}
    22.22222222222222%{right: auto;left: -20%;}
    33.33333333333333%{right: auto;left: 10%;}
    55.55555555555555%{right: 10%;left: auto;}
    66.66666666666666%{right: -20%;left: auto;}
    100%{}
}

@keyframes Content{
    0%{}
    22.22222222222222%{left: auto;right: -20%;}
    33.33333333333333%{left: auto;right: 10%;}
    55.55555555555555%{left: 10%;right: auto;}
    66.66666666666666%{left: -20%;right: auto;}
    100%{}
}

/* 비쥬얼 */
#visual{
    width: 100%;
    position: relative;
    margin-top: 100px;
    height: 300px;
    overflow: hidden;
}

#visual.main_page{height: 500px;}
#visual > *{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#visual.main_page .visual_slide{animation: img 9s infinite;}
.visual_slide > img{width: 100%;min-height: 100%;}
.visual_bc{background-color: rgba(0, 0, 0, 0.4);}
#visual.main_page .visual_text{animation: text 9s infinite;}

.visual_slide:nth-child(1){animation-delay: -3s !important;}
.visual_slide:nth-child(2){animation-delay: 0s !important;}
.visual_slide:nth-child(3){animation-delay: -6s !important;}

.visual_text:nth-child(5){animation-delay: -3s !important;}
.visual_text:nth-child(6){animation-delay: 0s !important;}
.visual_text:nth-child(7){animation-delay: -6s !important;}

.visual_slide_btn:nth-child(1){animation-delay: -3s !important;}
.visual_slide_btn:nth-child(2){animation-delay: 0s !important;}
.visual_slide_btn:nth-child(3){animation-delay: -6s !important;}

.visual_slide_btn:nth-child(1)::before{animation-delay: -3s !important;}
.visual_slide_btn:nth-child(2)::before{animation-delay: 0s !important;}
.visual_slide_btn:nth-child(3)::before{animation-delay: -6s !important;}

.visual_text:nth-child(5) .visual_title{animation-delay: -3s !important;}
.visual_text:nth-child(6) .visual_title{animation-delay: 0s !important;}
.visual_text:nth-child(7) .visual_title{animation-delay: -6s !important;}

.visual_text:nth-child(5) .visual_text_box > p,.visual_text:nth-child(5) .visual_text_box > div{animation-delay: -3s !important;}
.visual_text:nth-child(6) .visual_text_box > p,.visual_text:nth-child(6) .visual_text_box > div{animation-delay: 0s !important;}
.visual_text:nth-child(7) .visual_text_box > p,.visual_text:nth-child(7) .visual_text_box > div{animation-delay: -6s !important;}

.visual_text *{color: #fff;}
.visual_text_box{
    width: 80%;
    position: absolute;
    top: calc(80% / 2);
    left: 10%;
    height: 20%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

#visual.main_page .visual_text_box{border:none;border-top: 1px solid #fff;border-bottom: 1px solid #fff;top: calc(40% / 2);height: 60%;}
#visual.main_page .visual_text_box::before,#visual.main_page .visual_text_box::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
    border-top: 1px solid #fff;
}

.visual_text_box::before{bottom: -25px;left: 10px;}
.visual_text_box::after{top: 9px;right: -25px;}
.visual_text_box > *{
    position: absolute;
    text-align: center;
    width: 80%;
    left: 10%;
}

.visual_title{font-size:3em;}
#visual.main_page .visual_title{animation: Title 9s infinite;top: 30%;}
.visual_text_box > p{
    bottom:20%;
    font-size: 1.2em;
    animation: Content 9s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.visual_text_box > p > span{margin: 0 0.5em;}
#visual_slide_boxs{
    height: 30px;
    top: auto;
    bottom: 2em;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visual_slide_btn{
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin: 0 20px;
    position: relative;
    background-color: #fff;
    animation: slide_btn_box 9s infinite;
}

.visual_slide_btn::before{
    content: '';
    width: 300%;
    height: 300%;
    border-radius: 100%;
    position: absolute;
    top: -100%;
    left: -100%;
    border: 1px solid #ffb307;
    animation: slide_btn 9s infinite;
}

@media screen and (max-width:1000px){
    .visual_title{
        font-size: 2.5em;
        top: 15%;
    }

    .visual_text_box > p{
        bottom: 11%;
        font-size: 1em;
    }
}

/* 콘텐츠 */
#content{
    position: relative;
    padding: 2em 0;
}

.content_wrap{
    position: relative;
    padding: 2em 0;
}

.content_title{
    width: 100%;
    margin: 0.3em 0;
    padding: 0.3em 0;
}

.content_title > h2{
    font-weight: bold;
    font-size: 1.7em;
    color: #32547B;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_title h2 *{
    color: #ddd;
    font-size: 0.7em;
}

@keyframes contentTitle{
    0%{top: -25px;}
    50%{top: -35px;}
    100%{top: -25px;}
}

@keyframes contentTitle2{
    0%{top: -20px;}
    50%{top: -35px;}
    100%{top: -20px;}
}

#content > div:hover .content_title > h2::before{animation: contentTitle 0.5s;}
#content > div:hover .content_title > h2::after{animation: contentTitle2 0.5s;animation-delay: 0.1s;}

.content_title > h2::before,.content_title > h2::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 5px solid #32547B;
    top: -25px;
    left: -20px;
}

.content_title > h2::after{
    border-color: #ffb307;
    top: -20px;
    left: 5px;
    width: 15px;
    height: 15px;
    border-width: 4px;
}

.content_box{
    width: 100%;
    padding: 0.5em;
    position: relative;
}

.table_style{width: 100%;}
.table_style th,.table_style td{font-size: 1.05em;}
.table_style thead tr th {border-bottom: 1px solid #32547B;}
.table_style tr > *{padding: 0.9em 0.3em;}
.table_style tbody tr{border-bottom: 1px solid #ddd;transition: 0.3s;cursor: pointer;overflow: hidden;}
.table_style tbody tr:hover{background-color: #eee;}
.table_style tbody tr:first-child{border-top-left-radius: 5px;border-top-right-radius: 5px;}
.table_style tbody tr:last-child{border: none;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
.table_style tbody tr *{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.card_item{
    border: 3px solid #D7DEFF;
    padding: 1em;
    margin: 1em;
    transition: 0.3s;
    background-color: #fff;
    cursor: pointer;
}

.card_item:hover{border-color: #32547B;}
.noData{
    width: 100%;
    height: 100%;
    display: block;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 새소식 */
@keyframes noticeOpen{
    0%{padding-left: 0;opacity: 0;}
    50%{padding-left: 1em;opacity: 1;}
    100%{padding-left: 0;}
}

#main_notice{
    width: 60%;
    min-width: 400px;
    margin: 0 0.5em;
}

#main_notice > .content_box{
    width: 100%;
    height: 400px;
    padding: 0;
}

#main_notice_nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

#main_notice_nav > label{
    width: calc(100% / 4);
    line-height: 50px;
    font-size: 1.1em;
    text-align: center;
    cursor: pointer;
    border-bottom:3px solid #32547B ;
    transition: color 0.3s;
    margin: 0;
    color: #555;
    font-weight: bold;
}

#main_notice_nav > label:hover{color: #32547B;}
#main_notice_body{
    width: 100%;
    border: 3px solid #32547B;
    border-top: none;
    position: relative;
    height: calc(100% - 50px);
}

.main_notice_list{
    position: absolute;
    left: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    z-index: -1;
    opacity: 0;
}

.main_notice_list .noData{margin-top: 1em;}
.main_notice_list table thead th:last-child{border-color: #ffb307;}
.main_notice_list tr{display: grid; grid-template-columns: 4fr 1fr;}
.main_notice_list tbody > *{opacity: 0;}
.main_notice_list tr > td{width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

#notice_1:checked ~ #main_notice_body .main_notice_list[data-target="notice_1"]{z-index: 1;opacity: 1;}
#notice_2:checked ~ #main_notice_body .main_notice_list[data-target="notice_2"]{z-index: 1;opacity: 1;}
#notice_3:checked ~ #main_notice_body .main_notice_list[data-target="notice_3"]{z-index: 1;opacity: 1;}
#notice_4:checked ~ #main_notice_body .main_notice_list[data-target="notice_4"]{z-index: 1;opacity: 1;}

#notice_1:checked ~ #main_notice_body .main_notice_list[data-target="notice_1"] tbody tr:nth-child(1){opacity: 1; animation: noticeOpen 1s; animation-delay: 0;}
#notice_1:checked ~ #main_notice_body .main_notice_list[data-target="notice_1"] tbody tr:nth-child(2){opacity: 1; animation: noticeOpen 1s; animation-delay: 0.1s;}
#notice_1:checked ~ #main_notice_body .main_notice_list[data-target="notice_1"] tbody tr:nth-child(3){opacity: 1; animation: noticeOpen 1s; animation-delay: 0.2s;}
#notice_1:checked ~ #main_notice_body .main_notice_list[data-target="notice_1"] tbody tr:nth-child(4){opacity: 1; animation: noticeOpen 1s; animation-delay: 0.3s;}
#notice_1:checked ~ #main_notice_body .main_notice_list[data-target="notice_1"] tbody tr:nth-child(5){opacity: 1; animation: noticeOpen 1s; animation-delay: 0.4s;}

#notice_2:checked ~ #main_notice_body .main_notice_list[data-target="notice_2"] tbody tr:nth-child(1){opacity: 1; animation: noticeOpen 1s; animation-delay: 0;}
#notice_2:checked ~ #main_notice_body .main_notice_list[data-target="notice_2"] tbody tr:nth-child(2){opacity: 1; animation: noticeOpen 1s; animation-delay: 0.1s;}
#notice_2:checked ~ #main_notice_body .main_notice_list[data-target="notice_2"] tbody tr:nth-child(3){opacity: 1; animation: noticeOpen 1s; animation-delay: 0.2s;}
#notice_2:checked ~ #main_notice_body .main_notice_list[data-target="notice_2"] tbody tr:nth-child(4){opacity: 1; animation: noticeOpen 1s; animation-delay: 0.3s;}
#notice_2:checked ~ #main_notice_body .main_notice_list[data-target="notice_2"] tbody tr:nth-child(5){opacity: 1; animation: noticeOpen 1s; animation-delay: 0.4s;}

#notice_4:checked ~ #main_notice_body .main_notice_list[data-target="notice_4"] tbody tr:nth-child(1){opacity: 1; animation: noticeOpen 1s; animation-delay: 0;}
#notice_4:checked ~ #main_notice_body .main_notice_list[data-target="notice_4"] tbody tr:nth-child(2){opacity: 1; animation: noticeOpen 1s; animation-delay: 0.1s;}
#notice_4:checked ~ #main_notice_body .main_notice_list[data-target="notice_4"] tbody tr:nth-child(3){opacity: 1; animation: noticeOpen 1s; animation-delay: 0.2s;}
#notice_4:checked ~ #main_notice_body .main_notice_list[data-target="notice_4"] tbody tr:nth-child(4){opacity: 1; animation: noticeOpen 1s; animation-delay: 0.3s;}
#notice_4:checked ~ #main_notice_body .main_notice_list[data-target="notice_4"] tbody tr:nth-child(5){opacity: 1; animation: noticeOpen 1s; animation-delay: 0.4s;}

#notice_1:checked ~ #main_notice_nav label[for="notice_1"]{border: 3px solid #32547B; border-bottom: none; color:#32547B;}
#notice_2:checked ~ #main_notice_nav label[for="notice_2"]{border: 3px solid #32547B; border-bottom: none; color:#32547B;}
#notice_3:checked ~ #main_notice_nav label[for="notice_3"]{border: 3px solid #32547B; border-bottom: none; color:#32547B;}
#notice_4:checked ~ #main_notice_nav label[for="notice_4"]{border: 3px solid #32547B; border-bottom: none; color:#32547B;}

/* 팝업 */
#main_popup{
    margin-top: 50px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup_img{width: 100%;height: 50%;transition: 0.3s;cursor: pointer;}
.popup_img:hover{opacity: 0.5;}
.popup_img > img{width: 100%;}

/* 행사 */
#festival{
    width: 100%;
    padding: 2em;
    margin: 5em 0;
    background-color: #F2F4FF;
}

#festival .card_item *{transition: 0.3s;position: relative;z-index: 3;}
#festival .content_title>h2::after,#festival .content_title>h2::before{display: none;}
#festival .content_title{
    width: 100%;
    text-align: center;
    justify-content: center;
}

#festival .content_box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#festival .card_item{
    overflow: hidden;
    position: relative;
    height: 340px;
    width: calc(80% / 4);
    min-width: 240px;
}

#festival .card_item::after{
    content: '';
    background-color: #32547B;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    z-index: 2;
    height: 100%;
    transition: 0.3s;
}

.festival_title{
    font-size: 1.15em;
    text-align: center;
    height: 50px;
}

.festival_icon{
    margin: 2em;
    border: 3px solid #D7DEFF;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.festival_icon > i{
    font-size: 2.5em;
    color: #D7DEFF;
}

.festival_btn{
    left: 0;
    bottom: 0;
    position: absolute !important;
    border: none;
    width: 100%;
    height: 50px;
    background-color:rgba(0, 0, 0, 0);
    padding: 0.7em 1em;
}

#festival .card_item:hover::after{width: 100%;left: 0;}
#festival .card_item:hover .festival_icon{border-color: #fff;}
#festival .card_item:hover .festival_icon i{color: #fff;}
#festival .card_item:hover p{color: #fff;}
#festival .card_item:hover .festival_btn{color: #fff;}
.festival_btn:hover{opacity: 1;background-color: #fff!important; color: #000 !important;}

/* 유네스코 */
#unesco{width: 90%;min-width: 400px; margin: 0 auto;}
.unesco_wrap{
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
}

.unesco_wrap *{margin: 0;transition: 0.3s; color: #888;}
.unesco_wrap > *{padding: 1em 0.5em;}
.unesco_title{
    transition: 0.3s;
    font-weight: bold;
    font-size: 1.6em;
}

.unesco_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
    border-left: 3px solid #ddd;
}

.unesco_item{
    font-size: 1.05em;
    margin: 0.3em 0;    
    font-weight: bold;
}

.unesco_wrap:hover .unesco_title{color: #32547B;}
.unesco_wrap:hover .unesco_list{border-color: #32547B;}
.unesco_wrap:hover .unesco_item{color: #ffb307;}

/* 배너 */
@keyframes banner{
    0%{right:-250px;}
    6.66%{right: -250px;}
    10%{right:0px;}
    16.66%{right:0px;}
    20%{right:250px;}
    26.66%{right: 250px;}
    30%{right:500px;}
    36.66%{right: 500px;}
    40%{right:750px;}
    46.66%{right: 750px;}
    50%{right:1000px;}
    56.66%{right: 1000px;}
    60%{right:1250px;}
    66.66%{right:1250px;}
    70%{right:1500px;}
    76.66%{right:1500px;}
    80%{right:1750px;}
    86.66%{right:1750px;}
    90%{right:2000px;}
    96.66%{right:2000px;}
    100%{right: 2250px;}
}

#main_banner{
    margin: 1em auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1500px;
    height: 50px;
    padding: 0;
}

#main_banner a{
    animation: banner 30s infinite;
    position: absolute;
    width:250px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    background-position: 35px 0;
}

#main_banner a:nth-child(1){background-image: url("../image/banner1.png");animation-delay: 0s;}
#main_banner a:nth-child(2){background-image: url("../image/banner2.png");animation-delay: -3s;}
#main_banner a:nth-child(3){background-image: url("../image/banner3.png");animation-delay: -6s;}
#main_banner a:nth-child(4){background-image: url("../image/banner4.png");animation-delay: -9s;}
#main_banner a:nth-child(5){background-image: url("../image/banner5.png");animation-delay: -12s;}
#main_banner a:nth-child(6){background-image: url("../image/banner6.png");animation-delay: -15s;}
#main_banner a:nth-child(7){background-image: url("../image/banner7.png");animation-delay: -18s;}
#main_banner a:nth-child(8){background-image: url("../image/banner8.png");animation-delay: -21s;}
#main_banner a:nth-child(9){background-image: url("../image/banner9.png");animation-delay: -24s;}
#main_banner a:nth-child(10){background-image: url("../image/banner10.png");animation-delay: -27s;}

/* 푸터 */
footer{
    width: 100%;
    background-color: #555;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

footer > *{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 1.6em 10%;
    width: 100%;
    min-width: 400px;
}

#footer_nav{border-bottom: 1px solid #ddd;}
#footer_nav > li{margin: 0 1em;width: 200px;}
#footer_nav > li > a{
    color: #fff !important;
    padding: 0 2em;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 0.9em;
    transition: 0.3s;
}

#footer_nav > li:last-child a{border: none;}
#footer_nav a:hover{color: #ffb307 !important;}

#footer_logo{
    background-image: url("../image/logo2.png");
    width: 200px;
    height: 35px;
    background-repeat: no-repeat;
    display: inline-block;
}

/* sub1 page */
#cultures_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

#cultures_page_info{display: flex;align-items: center;}
#cultures_page_info *{color: #555;}
#cultures_page_info > h5{
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    margin-right: 1em;
}

.cultures_type_btn{
    background-color: #ddd;
    border-color: #ddd;
    color: #000;
}
.cultures_type_btn.select{
    background-color: #32547B;
    border-color: #32547B;
    color: #fff;
}

#cultures_body tr{display: grid; grid-template-columns: 1fr 4fr 3fr 3fr 5fr;}
#cultures_body th{border-width: 3px;}
#cultures_body tr > *:first-child{padding-left: 1em;}
#cultures_footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.page_footer_btn{
    width: 50px;
    height: 50px;
    transition: 0.3s;
    border: none;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    font-size: 1.05em;
    color:#555;
}

.page_footer_btn:hover{background-color: #D7DEFF;opacity: 1;color: #000;}
.page_footer_btn.select{background-color: #32547B;color: #fff;}
#cultures_footer_page{margin: 0 1em;}
#cultures_add{position: absolute;top: 0.3em;right: 0;}

/* sub2 page */
#calendar{width: 100%;}
#calendar tr {display: grid;grid-template-columns: repeat(7,1fr);}
#calendar thead tr *{padding: 1em 0.5em;}
#calendar tbody tr > *{border-top: 1px solid #ddd;transition: 0.3s;cursor: pointer;}
#calendar tr > *:first-child .calendar_title,#calendar tr > *:first-child{color: #ff3e3e;}
#calendar tr > *:last-child .calendar_title,#calendar tr > *:last-child{color: #32547B;}
#calendar tbody tr:first-child > *:first-child{border-color: #ff3e3e;}
#calendar tbody tr:first-child > *:last-child{border-color: #32547B;}
#calendar tbody tr:first-child > *{border-width: 3px;}
.calendar_list{width: 100%;height: 100px;overflow: auto;}
.calendar_list::-webkit-scrollbar{display: none;}
.calendar_title{margin: 0;padding:0.5em;}
.calendar_item{width: 100%;margin: 0;background-color: #32547B;color: #fff;padding: 0.2em;}
#calendar td.hide{background-color: #eee;}
#calendar tbody tr > *:hover{background-color: #f5f5f5;}
#calendar_header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendar_header > h5{
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 1em;
}

#show_add_btn{
    position: absolute;
    bottom: 0;
    right: 0;
}